body {
  margin: 4.4rem;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
}

/* Navigeringsmeny mobil */
.hamburger {
  height: 3rem;
  padding: 0.5rem;
  display: none;
}

/* Navigeringsmeny desktop */
.menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  padding: 0;
  align-items: center;
  font-size: 16px;
  font-weight: lighter;
}

.nav {
  color: #131313;
}

.nav-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 156px;
  height: 21.5px;
  align-self: center;
}

.container-flexbox {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  height: 1080px;
  max-width: 100vw;
  max-height: 100vh;
  flex: wrap;
}

.introduction {
  align-self: center;
  justify-content: flex-start;
  padding-right: 10rem;
}

h1 {
  font-size: 6.3rem;
  margin: 0;
  color: #f7ba60;
  padding: 0;
}

.intro {
  padding: 0;
  margin: 0;
}

.illustration-hero {
  background-image: url(img/IMG_0149.PNG);
  display: inline;
  padding-top: 20rem;
  background-position: center;
  background-size: cover;
  width: 700px;
  height: 400px;
}

.scroll {
  padding-top: 20rem;
}

.grid-container {
  display: grid;
  max-width: stretch;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 40px);
  grid-auto-rows: 40px;
  grid-auto-flow: column;
  grid-gap: 4rem;
  padding-top: 5rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.project1 {
  /* background-image: url(img/Frame\ 67.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block; */
  grid-row: 1 / 8;
  grid-column: 1 / 5;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project1:hover {
  zoom: 50%;
}

.card {
  object-fit: cover;
}

.project2 {
  background-image: url(img/Frame\ 66.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-row: 1 / 8;
  grid-column: 5 / 9;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project2:hover {
  zoom: 50%;
}

.project3 {
  background-image: url(img/Vaccina.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 8 / 15;
  grid-column: 1 / 5;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project4 {
  background-image: url(img/rektangel2.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 8 / 15;
  grid-column: 5 / 9;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  margin-top: 4rem;
}
.footer-menu {
  font-family: "Cabin", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.logo2 {
  display: flex;
  flex-direction: column;
  width: 156px;
  height: 21.5px;
  justify-content: center;
  align-self: center;
  padding: 1rem;
}
h2 {
  padding-left: 2rem;
  font-weight: 500;
  font-size: 1rem;
  color: #f0ede9;
}

a {
  text-decoration: none;
  color: #131313;
}
a:hover {
  color: orange;
}

h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 0;
  color: #333333;
}
.introduction2 {
  display: flex;
  flex-direction: column;
  margin-right: 60rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
}
.grid-container2 {
  display: grid;
  max-width: stretch;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 40px);
  grid-auto-rows: 40px;
  grid-auto-flow: column;
  grid-gap: 4rem;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-between;
}
.Illustration1 {
  background-image: url(img/IMG_0093.JPG);
  background-position: center;
  background-size: cover;
  grid-row: 1 / 9;
  grid-column: 1 / 5;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Illustration2 {
  background-image: url(img/IMG_0085.JPG);
  background-position: center;
  background-size: cover;
  grid-row: 1 / 11;
  grid-column: 5 / 9;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Illustration3 {
  background-image: url(img/IMG_0091.JPG);
  background-position: center;
  background-size: cover;
  grid-row: 9 / 17;
  grid-column: 1 / 5;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Illustration4 {
  background-image: url(img/IMG_0020.JPG);
  background-position: center;
  background-size: cover;
  grid-row: 11 / 19;
  grid-column: 5 / 9;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Illustration5 {
  background-image: url(img/Kvadrat.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 17 / 29;
  grid-column: 1 / 5;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Smoove try 2 */

.grid-container-project {
  display: grid;
  max-width: stretch;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 30px);
  grid-auto-rows: 40px;
  grid-auto-flow: column;
  grid-gap: 2rem;
  padding-top: 5rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.project-container {
  display: grid;
  grid-row: 1 / 3;
  grid-column: 1 / 4;
  margin: 0;
  display: inline-block;
}

.project {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.smoove {
  margin: 0;
  font-size: 40px;
}

.look-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline;
}

.look {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 700;
  font-style: normal;
  justify-self: center;
}

.role {
  grid-row: 4 / 6;
  grid-column: 1 / 3;
  margin: 0;
}

.project-role {
  margin-top: 0.5em;
}

.img1 {
  grid-row: 1 / 11;
  grid-column: 4 / 9;
  background-image: url(img/smoove-hero.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.scroll-project {
  grid-row: 12 / 12;
  grid-column: 7 / 9;
}

.tools {
  grid-row: 4 / 6;
  grid-column: 2 / 3;
  margin: 0;
}

.icon-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.5em;
  align-items: center;
}

.brief {
  grid-row: 7/ 10;
  grid-column: 1 / 3;
  margin: 0;
}

.color {
  color: #65da8c;
}

.img2 {
  grid-row: 14 / 21;
  grid-column: 4 /7;
  background-image: url(img/Untitled_Artwork\ 5\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.img3 {
  grid-row: 14 / 21;
  grid-column: 7 /9;
  background-image: url(img/IMG_9853.png);
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
}

.sketch-container {
  grid-row: 16/ 21;
  grid-column: 1 / 3;
  margin: 0;
}

.wireframe-container {
  grid-row: 25/ 27;
  grid-column: 1 / 3;
  margin: 0;
}

.img4 {
  grid-row: 22 / 32;
  grid-column: 4 /9;
  background-image: url(img/wireframe_smoove.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 645px) {
  .body {
    margin: 2rem;
    margin-top: 1rem;
  }
  .hamburger {
    display: inline-block;
  }
  .menu {
    display: none;
  }
  .logo {
    display: inline-block;
    justify-content: right;
  }
  .grid-container {
    display: none;
  }
}
