body {
  margin: 4.4rem;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: #f9f7f5;
}

/* Navigeringsmeny mobil */
.hamburger {
  height: 3rem;
  display: none;
}

/* Navigeringsmeny desktop */
.menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  padding: 0;
  align-items: center;
  font-size: 16px;
  font-weight: lighter;
}

.nav {
  color: #131313;
}

.nav-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 156px;
  height: 21.5px;
  align-self: center;
}

.container-flexbox {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 1080px;
  max-width: 100vw;
  max-height: 100vh;
  flex: wrap;
}

.introduction {
  align-self: center;
  justify-content: flex-start;
  text-align: center;
}

h1 {
  font-size: 6.3rem;
  margin: 0;
  color: #f7ba60;
  padding: 0;
}

.intro {
  padding: 0;
  margin: 0;
}

.illustration-hero {
  background-image: url(img/IMG_0149.PNG);
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
}

.scroll {
  padding-top: 10rem;
}

.grid-container {
  display: grid;
  max-width: stretch;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 40px);
  grid-auto-rows: 40px;
  grid-auto-flow: column;
  grid-gap: 4rem;
  padding-top: 5rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.project1 {
  grid-row: 1 / 8;
  grid-column: 1 / 5;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project1:hover {
  zoom: 50%;
}

.card {
  object-fit: cover;
}

.project2 {
  background-image: url(img/Frame\ 66.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-row: 1 / 8;
  grid-column: 5 / 9;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project2:hover {
  zoom: 50%;
}

.project3 {
  background-image: url(img/Vaccina.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 8 / 15;
  grid-column: 1 / 5;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project4 {
  background-image: url(img/wALDORF.png);
  background-position: center;
  background-size: cover;
  grid-row: 8 / 15;
  grid-column: 5 / 9;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project5 {
  background-image: url(img/bmockup\ baksida\ .jpg);
  background-position: center;
  background-size: contain;
  grid-row: 15 / 23;
  grid-column: 1 / 5;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project6 {
  background-image: url(img/leader.png);
  background-position: center;
  background-size: cover;

  grid-row: 15 / 23;
  grid-column: 5 / 9;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  margin-top: 4rem;
}
.footer-menu {
  font-family: "poppins";
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.logo2 {
  display: flex;
  flex-direction: column;
  width: 156px;
  height: 21.5px;
  justify-content: center;
  align-self: center;
  padding: 1rem;
}
h2 {
  padding-left: 2rem;
  font-weight: 500;
  font-size: 1rem;
  color: #f0ede9;
}

a {
  text-decoration: none;
  color: #131313;
}
a:hover {
  color: orange;
}

/* illustration page */

h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 0;
  color: #333333;
}
.introduction2 {
  display: flex;
  flex-direction: column;
  margin-right: 60rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
}
.grid-container2 {
  display: grid;
  max-width: stretch;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 40px);
  grid-auto-rows: 40px;
  grid-auto-flow: column;
  grid-gap: 4rem;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-between;
}
.Illustration1 {
  background-image: url(img/IMG_0093.JPG);
  background-position: center;
  background-size: cover;
  grid-row: 1 / 9;
  grid-column: 1 / 5;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Illustration2 {
  background-image: url(img/IMG_0085.JPG);
  background-position: center;
  background-size: cover;
  grid-row: 1 / 11;
  grid-column: 5 / 9;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Illustration3 {
  background-image: url(img/IMG_0091.JPG);
  background-position: center;
  background-size: cover;
  grid-row: 9 / 17;
  grid-column: 1 / 5;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Illustration4 {
  background-image: url(img/IMG_0020.JPG);
  background-position: center;
  background-size: cover;
  grid-row: 11 / 19;
  grid-column: 5 / 9;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Illustration5 {
  background-image: url(img/Kvadrat.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 17 / 29;
  grid-column: 1 / 5;
  position: relative;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Smoove try 2 */

.grid-container-project {
  display: grid;
  max-width: stretch;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 30px);
  grid-auto-rows: 40px;
  grid-auto-flow: column;
  grid-gap: 2rem;
  padding-top: 5rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.project-container {
  display: grid;
  grid-row: 1 / 3;
  grid-column: 1 / 4;
  margin: 0;
  display: inline-block;
}

.project {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.project-name {
  margin: 0;
}

.look-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline;
}

.look {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 700;
  font-style: normal;
  justify-self: center;
}

.role {
  grid-row: 4 / 6;
  grid-column: 1 / 3;
  margin: 0;
}

.role-long {
  grid-row: 4 / 6;
  grid-column: 1 / 3;
  margin: 0;
}

.role4 {
  grid-row: 4 / 6;
  grid-column: 1 / 3;
  margin: 0;
}

.project-role {
  margin-top: 0.5em;
}

.img1 {
  grid-row: 1 / 11;
  grid-column: 4 / 9;
  background-image: url(img/Artboard\ 1.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll-project {
  grid-row: 12 / 12;
  grid-column: 7 / 9;
  text-align: right;
}

.tools {
  grid-row: 4 / 6;
  grid-column: 2 / 3;
  margin: 0;
}

.tools-long {
  grid-row: 4 / 6;
  grid-column: 2 / 3;
  margin: 0;
}

.tools4 {
  grid-row: 4 / 6;
  grid-column: 2 / 3;
  margin: 0;
}

.icon-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.5em;
  align-items: center;
}

.brief {
  grid-row: 7/ 10;
  grid-column: 1 / 3;
  margin: 0;
}

.brief2 {
  grid-row: 7/ 10;
  grid-column: 1 / 3;
  margin: 0;
}

.color {
  color: #65da8c;
}

.img2 {
  grid-row: 14 / 22;
  grid-column: 4 / 9;
  background-image: url(img/Frame\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sketch-container {
  grid-row: 16/ 21;
  grid-column: 1 / 3;
  margin: 0;
}

.sketch-container2 {
  grid-row: 16/ 21;
  grid-column: 1 / 3;
  margin: 0;
}

.wireframe-container {
  grid-row: 25/ 27;
  grid-column: 1 / 3;
  margin: 0;
}

.wireframe-container2 {
  grid-row: 25/ 27;
  grid-column: 1 / 3;
  margin: 0;
}

.img4 {
  grid-row: 23 / 33;
  grid-column: 4 /9;
  background-image: url(img/wireframe_smoove.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* smoove presentation page */

.grid-container-presentation {
  display: grid;
  max-width: stretch;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 30px);
  grid-auto-rows: 40px;
  grid-auto-flow: column;
  grid-gap: 2rem;
  padding-top: 5rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.slide1 {
  background-image: url(img/Start-smoove.png);
  background-size: cover;
  grid-row: 1 / 13;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide2 {
  background-image: url(img/Intro.png);
  background-size: cover;
  grid-row: 14 / 24;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide3 {
  background-image: url(img/Mål.png);
  background-size: cover;
  grid-row: 25 / 35;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide4 {
  background-image: url(img/Research.png);
  background-size: cover;
  grid-row: 36 / 46;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide5 {
  background-image: url(img/Moodboard_smoove.png);
  background-size: cover;
  grid-row: 47 / 57;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide6 {
  background-image: url(img/Styleguide.png);
  background-size: cover;
  grid-row: 58 / 68;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide7 {
  background-image: url(img/Bildmanér.png);
  background-size: cover;
  grid-row: 69 / 79;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide8 {
  background-image: url(img/Prototyp.png);
  background-size: cover;
  grid-row: 80 / 90;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide9 {
  background-image: url(img/Utvecklingspotenial.png);
  background-size: cover;
  grid-row: 91 / 101;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide10 {
  background-image: url(img/Tack.png);
  background-size: cover;
  grid-row: 102 / 112;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Project vaccina page  */

.vaccina {
  padding-right: 5rem;
}
.role2 {
  grid-row: 5 / 7;
  grid-column: 1 / 3;
  margin: 0;
}

.tools2 {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  margin: 0;
}

.color2 {
  color: #4faaff;
}

.img1-vaccina {
  grid-row: 1 / 12;
  grid-column: 4 / 9;
  background-image: url(img/vaccina-hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img2-vaccina {
  grid-row: 14 / 22;
  grid-column: 4 / 9;
  background-image: url(img/Sketches.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img4-vaccina {
  grid-row: 23 / 32;
  grid-column: 4 / 9;
  background-image: url(img/Wireframe.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Vaccina presentation page  */

.slide1-vaccina {
  background-image: url(img/Start.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 1 / 13;
  grid-column: 2 / 8;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide2-vaccina {
  background-image: url(img/Personas.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 14 / 24;
  grid-column: 1 / 9;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide3-vaccina {
  background-image: url(img/Handskisser.png);
  background-size: cover;
  grid-row: 25 / 35;
  grid-column: 1 / 9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide4-vaccina {
  background-image: url(img/Wireframes\ greybox.png);
  background-size: cover;
  grid-row: 36 / 46;
  grid-column: 1 / 9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide5-vaccina {
  background-image: url(img/Moodboard.png);
  background-size: cover;
  grid-row: 47 / 57;
  grid-column: 1 / 9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide6-vaccina {
  background-image: url(img/Style\ guide.png);
  background-size: cover;
  grid-row: 58 / 68;
  grid-column: 1 / 9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide7-vaccina {
  background-image: url(img/Användartester.png);
  background-size: cover;
  grid-row: 69 / 79;
  grid-column: 1 / 9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide8-vaccina {
  background-image: url(img/Tidsåtgång.png);
  background-size: cover;
  grid-row: 80/ 90;
  grid-column: 1 / 9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide9-vaccina {
  background-image: url(img/Resultat.png);
  background-size: cover;
  grid-row: 91 / 101;
  grid-column: 1 / 9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide10-vaccina {
  background-image: url(img/Avslutning.png);
  background-size: cover;
  grid-row: 102 / 112;
  grid-column: 1 / 9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Animated postcard page  */

.video-animated {
  grid-row: 1 / 13;
  grid-column: 5 / 9;
  justify-content: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.brief3 {
  grid-row: 8/ 12;
  grid-column: 1 / 3;
  margin: 0;
}

.role3 {
  grid-row: 8/ 12;
  grid-column: 1 / 3;
  margin: 0;
}
/* Leader page */

.video-leader {
  grid-row: 2 / 12;
  grid-column: 4 / 9;
  justify-content: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.scroll-project-leader {
  display: none;
}

.leader {
  padding-right: 9rem;
}
/* Waldorf page */

.color3 {
  color: rgb(255, 164, 179);
}

.img1-waldorf {
  grid-row: 1 / 11;
  grid-column: 4 / 9;
  background-image: url(img/Waldorf_illustration.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.img2-waldorf {
  grid-row: 14 / 22;
  grid-column: 4 / 9;
  background-image: url(img/Sketches.png);
  background-size: cover;
  background-position: center;
}

.img4-waldorf {
  grid-row: 23 / 32;
  grid-column: 4 / 9;
  background-image: url(img/Wireframe.png);
  background-size: cover;
  background-position: center;
}

/* Breakpoint 1440  */

@media (max-width: 1440px) {
  .description {
    padding-right: 2rem;
  }

  .tools .tools-long .tools2 .tools4 {
    position: fixed;
  }
}

/* Breakpoint ipad  */

@media (max-width: 1024px) {
  .body {
    margin: 2rem;
    margin-top: 1rem;
  }

  /* home */

  .container-flexbox {
    display: none;
  }

  .container-flexbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 1080px;
    max-width: 100vw;
    max-height: 100vh;
    align-self: center;
  }

  .introduction {
    align-self: center;
    justify-content: flex-start;
  }

  .grid-container {
    padding-top: 0;
  }

  .project1 {
    grid-row: 1 / 8;
    grid-column: 1 / 9;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project2 {
    background-repeat: no-repeat;
    grid-row: 8 / 15;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project3 {
    grid-row: 15 / 22;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .project4 {
    grid-row: 22 / 29;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project5 {
    grid-row: 29 / 36;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project6 {
    grid-row: 36 / 43;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* illustration page */

  .introduction2 {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 5rem;
    margin-top: 3rem;
  }

  .Illustration1 {
    grid-row: 1 / 8;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .Illustration2 {
    background-image: url(img/IMG_0085.JPG);
    background-position: center;
    background-size: cover;
    grid-row: 8 / 17;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .Illustration3 {
    background-image: url(img/IMG_0091.JPG);
    background-position: center;
    background-size: cover;
    grid-row: 17 / 24;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .Illustration4 {
    background-image: url(img/IMG_0020.JPG);
    background-position: center;
    background-size: cover;
    grid-row: 24 / 31;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* animated postcard */

  .project-container {
    grid-row: 1 / 3;
    grid-column: 1 /9;
  }

  .video-animated {
    grid-row: 7 / 17;
    grid-column: 1 / 9;
    justify-content: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* vaccina page */

  .vaccina {
    padding-right: 0;
  }

  .role2 {
    grid-row: 4 / 7;
    grid-column: 1 / 3;
    margin: 0;
  }

  .tools2 {
    grid-row: 4 / 7;
    grid-column: 3 / 4;
    margin: 0;
  }

  .brief2 {
    grid-row: 7/ 12;
    grid-column: 1 / 9;
    margin: 0;
  }

  .img1-vaccina {
    grid-row: 15 / 24;
    grid-column: 1 / 9;
    background-image: url(img/vaccina-hero.png);
    background-size: cover;
    background-position: center;
  }

  .sketch-container {
    grid-row: 25 / 27;
    grid-column: 1 / 9;
  }

  .sketch-container2 {
    grid-row: 25 / 27;
    grid-column: 1 / 9;
  }
  .img2-vaccina {
    grid-row: 29 / 35;
    grid-column: 1 / 9;
    background-image: url(img/Sketches.png);
    background-size: cover;
    background-position: center;
  }

  .wireframe-container {
    grid-row: 37 /45;
    grid-column: 1 / 9;
  }
  .wireframe-container2 {
    grid-row: 37 /45;
    grid-column: 1 / 9;
  }
  .img4-vaccina {
    grid-row: 42 / 48;
    grid-column: 1 / 9;
    background-image: url(img/Wireframe.png);
    background-size: cover;
    background-position: center;
  }

  .scroll-project {
    grid-column: 4 / 9;
  }

  /* smoove page */

  .role {
    grid-row: 4 / 7;
    grid-column: 1 / 4;
    margin: 0;
  }

  .role4 {
    grid-row: 4 / 7;
    grid-column: 1 / 4;
    margin: 0;
  }

  .role-long {
    grid-row: 4 / 7;
    grid-column: 1 / 4;
    margin: 0;
  }

  .tools {
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    margin: 0;
  }

  .tools4 {
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    margin: 0;
  }

  .tools-long {
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    margin: 0;
  }

  .brief {
    grid-row: 7/ 12;
    grid-column: 1 / 9;
    margin: 0;
  }

  .brief2 {
    grid-row: 7/ 12;
    grid-column: 1 / 9;
    margin: 0;
  }

  .img1 {
    grid-row: 14 / 23;
    grid-column: 1 / 9;
    background-image: url(img/Artboard\ 1.png);
    background-size: cover;
    background-position: center;
  }

  .img2 {
    grid-row: 29 / 35;
    grid-column: 1 / 9;
    background-image: url(img/Frame\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img4 {
    grid-row: 42 / 49;
    grid-column: 1 /9;
    background-image: url(img/wireframe_smoove.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* presentation pages */

  .slide1 {
    grid-row: 1 / 7;
    grid-column: 1 / 9;
  }

  .slide2 {
    grid-row: 8 / 14;
    grid-column: 1 / 9;
  }

  .slide3 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 15 / 21;
    grid-column: 1 / 9;
  }

  .slide4 {
    grid-row: 21 / 27;
    grid-column: 1 / 9;
  }

  .slide5 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 28 / 34;
    grid-column: 1 / 9;
  }

  .slide6 {
    grid-row: 34 / 40;
    grid-column: 1 / 9;
  }

  .slide7 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 41 / 47;
    grid-column: 1 / 9;
  }

  .slide8 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 47 / 53;
    grid-column: 1 / 9;
  }

  .slide9 {
    grid-row: 53 / 60;
    grid-column: 1 / 9;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .slide10 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 59 / 65;
    grid-column: 1 / 9;
  }

  /* leader */
  .video-leader {
    grid-row: 14 / 20;
    grid-column: 1 / 9;
    justify-content: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1rem;
  }

  .scroll-project-leader {
    display: grid;
    grid-row: 12 / 12;
    grid-column: 4 / 9;
    text-align: right;
  }

  /* waldorf page  */

  .img1-waldorf {
    grid-row: 15/20;
    grid-column: 1 / 9;
  }
  .img2-waldorf {
    grid-row: 22/ 25;
    grid-column: 1 / 9;
  }

  .img4-waldorf {
    grid-row: 36/ 42;
    grid-column: 1 / 9;
  }
}

/* Breakpoint mobile */

@media (max-width: 595px) {
  /* home page */

  body {
    margin: 10px;
    padding: 0.5rem;
  }

  .menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    flex-direction: row;
    width: 156px;
    height: 21.5px;
    align-self: center;
  }

  .container-flexbox {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 740px;
    max-width: 100vw;
    max-height: 100vh;
  }

  .grid-container {
    display: grid;
    max-width: stretch;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20px);
    grid-auto-rows: 20px;
    grid-auto-flow: row;
    grid-gap: 1rem;
    padding-top: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }

  .project1 {
    grid-row: 1 / 10;
    grid-column: 1 /9;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project2 {
    background-repeat: no-repeat;
    grid-row: 10 / 19;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project3 {
    grid-row: 19 / 28;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .project4 {
    grid-row: 28 / 37;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project5 {
    grid-row: 37 / 46;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project6 {
    grid-row: 46 / 55;
    grid-column: 1 / 9;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Animated postcard iphone */

  h3 {
    padding-bottom: 0.5rem;
    font-size: 37px;
    line-height: 40px;
  }
  .role {
    grid-row: 5 / 8;
    grid-column: 1 / 4;
    margin: 0;
  }

  .tools {
    grid-row: 5 / 8;
    grid-column: 4 / 7;
    margin: 0;
    padding-bottom: 1rem;
  }

  .tools-long {
    grid-row: 5 / 8;
    grid-column: 4 / 7;
    margin: 0;
    padding-bottom: 1rem;
  }

  .video-animated {
    grid-column: 1 / 9;
    grid-row: 8 / 14;
  }

  /* Smoove page iphone */

  .role-long {
    grid-row: 4 / 6;
    grid-column: 1 / 9;
    margin: 0;
  }

  .tools-long {
    grid-row: 6 / 8;
    grid-column: 1 / 6;
    margin: 0;
    padding-bottom: 1rem;
  }

  .brief {
    grid-row: 9 / 15;
    grid-column: 1 / 9;
  }

  .show {
    display: none;
  }

  .img1 {
    grid-row: 15 / 19;
  }

  .sketch-container {
    grid-row: 19 / 23;
    grid-column: 1 / 9;
  }

  .img2 {
    grid-row: 22 / 25;
    background-size: cover;
  }

  .wireframe-container2 {
    grid-row: 26 / 30;
  }

  .img4 {
    grid-row: 31 / 36;
  }

  /* presentation pages */

  .slide1 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 1 / 5;
    grid-column: 1 / 9;
  }

  .slide2 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 5 / 10;
    grid-column: 1 / 9;
  }

  .slide3 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 10 / 15;
    grid-column: 1 / 9;
  }

  .slide4 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 15 / 20;
    grid-column: 1 / 9;
  }

  .slide5 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 20 / 25;
    grid-column: 1 / 9;
  }

  .slide6 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 25 / 30;
    grid-column: 1 / 9;
  }

  .slide7 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 30 / 35;
    grid-column: 1 / 9;
  }

  .slide8 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 35 / 450;
    grid-column: 1 / 9;
  }

  .slide9 {
    grid-row: 40 / 45;
    grid-column: 1 / 9;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .slide10 {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 45 / 48;
    grid-column: 1 / 9;
  }

  /* Vaccina page  */

  .vaccina {
    padding-right: 0;
  }

  .role2 {
    grid-row: 3 / 7;
    grid-column: 1 / 3;
    margin: 0;
  }

  .tools2 {
    grid-row: 3 / 7;
    grid-column: 3 / 4;
    margin: 0;
  }

  .brief2 {
    grid-row: 12/ 16;
    grid-column: 1 / 9;
    margin: 0;
  }

  .img1-vaccina {
    grid-row: 7 / 12;
    grid-column: 1 / 9;
    background-image: url(img/vaccina-hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sketch-container2 {
    grid-row: 17 / 19;
    grid-column: 1 / 9;
  }

  .img2-vaccina {
    grid-row: 19 / 25;
    grid-column: 1 / 9;
    background-image: url(img/Sketches.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .wireframe-container {
    grid-row: 24 /27;
    grid-column: 1 / 9;
  }

  .img4-vaccina {
    grid-row: 29/ 32;
    grid-column: 1 / 9;
    background-image: url(img/Wireframe.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* waldorf page  */

  .img1-waldorf {
    grid-row: 6/ 11;
    grid-column: 1 / 9;
  }

  .img2-waldorf {
    grid-row: 16/ 119;
  }
  /* leader */

  .video-leader {
    grid-row: 16 / 19;
    grid-column: 1 / 9;
    justify-content: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1rem;
  }

  .leader {
    padding: 0;
  }

  /* illustration page  */

  .grid-container2 {
    display: grid;
    max-width: stretch;
    margin: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 40px);
    grid-auto-rows: 40px;
    grid-auto-flow: column;
    grid-gap: 4rem;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .introduction2 {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 5rem;
    margin-top: 3rem;
  }

  .Illustration1 {
    grid-row: 1 / 4;
    grid-column: 1 / 9;
    background-size: contain;
  }
  .Illustration2 {
    grid-row: 8 / 17;
    grid-column: 1 / 9;
  }
  .Illustration3 {
    grid-row: 17 / 24;
    grid-column: 1 / 9;
  }
  .Illustration4 {
    grid-row: 24 / 31;
    grid-column: 1 / 9;
  }
}
